<div class="panel">
  <div>
    <h1 class="admin">Telegram Admin</h1>
    <p class="list">
      <span class="left">HELP</span>
      <span class="right command">/help</span>
    </p>
    <p class="list">
      <span class="left">show admin panel</span>
      <span class="right command">/admin</span>
    </p>
    <p class="list">
      <span class="left">playerInfo</span>
      <span class="right command">player: <span class="replaceText">teamCode</span></span>
    </p>
    <p class="list">
      <span class="left">added point to player</span>
      <span class="right command">point:
      <span class="replaceText">teamCode</span> :
      <span class="replaceText">point</span>
    </span>
    <p class="list">
      <span class="left">added location point to player</span>
      <span class="right command">locationPoint:
      <span class="replaceText">teamCode</span> :
      <span class="replaceText">point</span>
    </span>
    <p class="list">
      <span class="left">change player name</span>
      <span class="right command">name:
      <span class="replaceText">teamCode</span> :
      <span class="replaceText">team New name</span>
    </span>
    </p>
    <p class="list">
      <span class="left">Cancel game</span>
      <span class="right command">cancelGame:
      <span class="replaceText">teamCode</span>
    </span>
    </p>
    <p class="list">
      <span class="left">text to user</span>
      <span class="right command">
      <span class="replaceText">teamCode</span> :
      <span class="replaceText">text</span>
    </span>
    </p>
    <p class="list">
      <span class="left">stop chatting</span>
      <span class="right command">stop</span>
    </p>
  </div>
  <div>
    <h1 class="player">Telegram Player</h1>
    <p class="list">
      <span class="left">Start</span>
      <span class="right command">/start</span>
    </p>
    <p class="list">
      <span class="left">Show games</span>
      <span class="right command">/game</span>
    </p>
    <p class="list">
      <span class="left">Show my points</span>
      <span class="right command">/points</span>
    </p>
  </div>
</div>
