<form class="content" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field  appearance="outline">
    <mat-label>Code</mat-label>
    <input matInput placeholder="Code" formControlName="code" required>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>verificationCode</mat-label>
    <input matInput placeholder="verificationCode" formControlName="verificationCode" required>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-select formControlName="role">
      <mat-option value="player">Player</mat-option>
      <mat-option value="admin">Admin</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-select placeholder="admin" formControlName="admin">
      <mat-option>__</mat-option>
      <mat-option *ngFor="let admin of admins" [value]="{adminId: admin._id, chatTo: admin.id}">{{admin.teamName}} _ {{admin.code}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-select placeholder="location" formControlName="playingLocationId">
      <mat-option>__</mat-option>
      <mat-option *ngFor="let location of locations" [value]="location._id">{{location.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!form.valid">Save</button>
</form>
