<ul>
  <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
              routerLink="/games">
    <span>Games</span>
  </a></li>
  <li><a routerLinkActive="active"
         routerLink="/location">
    <span>Locations</span>
  </a></li>
  <li><a routerLinkActive="active"
         routerLink="/user">
    <span>Users</span>
  </a></li>
  <li><a routerLinkActive="active"
         routerLink="/file">
    <span>Files</span>
  </a></li>
</ul>
<div class="routing">
  <router-outlet></router-outlet>
</div>
