<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field  appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>Description</mat-label>
    <input matInput placeholder="description" formControlName="description" required>
  </mat-form-field>
  <p>
    <button mat-raised-button type="submit" [disabled]="!form.valid">Submit</button>
    <button mat-raised-button > Add column </button>

  </p>
</form>
