<div *ngIf="data.action === 'delete'">
  <p>Do you wont to delete this location</p>
  <p>{{data.name}}</p>
  <button mat-raised-button type="submit" (click)='dialogRef.close()'>NO</button>
  <button mat-raised-button type="submit" (click)='dialogRef.close(true)'>Yes</button>
</div>
<div *ngIf="data.action === 'add'">
  <div class="locationGamesSelect">
    <form class="content" [formGroup]="form" (ngSubmit)="add()">
      <mat-form-field class="searchSelect">
        <mat-select formControlName="game" placeholder="Games" [multiple]="false">
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Find game..."
              noEntriesFoundLabel="No matching games found"
              [formControl]="gameMultiFilterCtrl"></ngx-mat-select-search>
          </mat-option>
          <mat-option *ngFor="let game of filteredGamesMulti | async" [value]="game">
            {{game.gameType}}:  {{game.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Location" formControlName="location">
      </mat-form-field>
      <button mat-raised-button type="submit">Add</button>
    </form>
  </div>
  <div>
    <mat-dialog-content class="mat-typography">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns; let i = index">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element">
            <span *ngIf="column === 'game location'">
        <button mat-raised-button (click)="openLocation(element)">
          {{element.location}}
        </button>
      </span>
            <span *ngIf="column === 'actions'">
        <button mat-fab (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
            {{element[column]}}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay; let i = index"></tr>
      </table>
    </mat-dialog-content>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)='dialogRef.close()'>Cancel</button>
  <button mat-raised-button (click)="dialogRef.close(location)">Save</button>
</div>
