<div *ngIf="data.type === 'delete'">
  <p>Do you wont to delete this User</p>
  <p>{{data.user.teamName}}</p>
  <button mat-raised-button type="submit" (click)='dialogRef.close()'>NO</button>
  <button mat-raised-button type="submit" (click)='dialogRef.close(true)'>Yes</button>
</div>
<div *ngIf="data.type === 'removeInfo'">
  <p>Do you wont to Remove this User Info</p>
  <p>{{data.user.teamName}}</p>
  <button mat-raised-button type="submit" (click)='dialogRef.close()'>NO</button>
  <button mat-raised-button type="submit" (click)='dialogRef.close(true)'>Yes</button>
</div>
