<form class="content" [formGroup]="form" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field  appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field  appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="password" formControlName="password" required>
    </mat-form-field>
  </p>
  <button mat-raised-button type="submit" [disabled]="!form.valid">Login</button>
</form>
