<form class="content" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field  appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Name" formControlName="name" required>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>Start Description</mat-label>
    <textarea  matInput placeholder="startDescription" formControlName="startDescription" required></textarea>
  </mat-form-field>
  <mat-form-field  appearance="outline">
    <mat-label>Location</mat-label>
    <input matInput placeholder="Location" formControlName="location" required>
  </mat-form-field>
  <button mat-raised-button type="submit" [disabled]="!form.valid">Save</button>
</form>
